/*---------------------- IMAGES PAGE ----------------------*/


/*MAIN CONTAINER*/

.main-container{
  margin-top: 80px;
  padding-right: 60px;
  padding-left: 60px;
}

@media screen and (max-width: 600px){
  .main-container{
    padding-right: 15px;
    padding-left: 15px;
  }
}



/* WORK DATE AND IMAGE CONTAINER*/
.work-date-and-image-container{
  display: flex;
  width: 100%;

}

.work-date-and-image-container img{
  width: 100%;
}

.first-image-container{
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
}

.first-image-container img{
  width: 100%;
}


/*WORK DATE CONTAINER*/
.work-date-container{
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  margin-right: 10px;

}

.work-date-container a{
  text-decoration: none;
  color:blue;
  border-bottom: 2px solid blue;
}

.work-date-container a:hover{
  font-size: 14px;
  color:deeppink;
  border-bottom: 5px solid deeppink;
}


/*IMAGES CONTAINER*/
.images-container{
  width: 100%;
  margin-top: 10px;
}

.images-container img{
  width: 50%;
}

.image-caption{
  font-size: 10px;
  font-family: Helvetica, sans-serif;
}

.image-with-caption-container{
  margin-bottom: 20px;
}
@media screen and (min-width: 600px) {
  .image-with-caption-container{
    display: flex;
  }
  .image-caption{
    margin-left: 10px;
    margin-right: 10px;
  }
}


/*---------------------- CONTACT PAGE ----------------------*/
/*CONTACT INFO CONTAINER*/
.contact-info-container{
  margin-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

/*---------------------- NEWS PAGE ----------------------*/
.news-container{
  margin-top: 100px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
}


.news-image-container{
  width: 100%;
  padding-top: 15px;
}
.news-info-container{
  width: 100%;
  padding-left: 20px;
}

.news-image-container img{
  width: 100%;
}
.news-info-title{
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.news-info-description{
  word-wrap: break-word;
  text-align: justify;
}



@media screen and (max-width: 600px){
  .news-container{
    display: block;
    margin-left: 15px;
    margin-right: 15px;
  }

  .news-info-description{
    font-size: 13px;
  }


}



/*---------------------- IMAGE [....] PAGE ----------------------*/

.back-button-with-image-container a{
  text-decoration: none;
  color: blue;
  border-bottom: 2px solid blue;
}

.back-button-with-image-container a:hover{
  text-decoration: none;
  color: deeppink;
  border-bottom: 5px solid deeppink;
}




/*---------------------- IMAGE 2024 PAGE ----------------------*/
.main-images-2024-container{
  margin-top: 80px;
  padding-left: 60px;
  padding-right: 60px;

}

.back-button-with-image-container{
  width: 100%;
}

.first-2024-image-container{
  width: 100%;
  display: flex;
  align-items: flex-end;

}

.first-2024-image-container img{
  width: 60%;       /* 80 90 for mobile*/
}

.image-title{
  font-weight: bold;
  font-size: 11px;
}

.image-description{
  font-size: 10px;
}

.first-2024-image-caption-container{
  font-family: Helvetica, sans-serif;
  margin-top: auto;
  margin-right: 100px;


}

.second-2024-image-container{
  width: 100%;
  display: flex;
  margin-top: 50px;
}

.second-2024-image-container img{
  width: 40%; /* 60 70 for mobile*/
}

.second-2024-image-sub-container{
  margin-top: 9px;
}

.third-2024-image-container{
  width: 100%;

}

.third-2024-image-sub-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;

}

.third-2024-image-sub-container img{
  width: 35%;
}

.fourth-2024-image-container{
  width: 100%;
  display: flex;
}

.fourth-2024-image-container img{
  width: 80%;
}

.fourth-2024-image-caption-container{
  font-family: Helvetica, sans-serif;
  margin-top: auto;
  margin-right: 100px;
  margin-bottom: 20px;
}

.fifth-2024-image-container{
  width: 100%;
  margin-top: 100px;
}

.fifth-2024-image-sub-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.fifth-2024-image-container img{
  width: 80%;
}

.sixth-2024-image-container{
  width: 100%;
  display: flex;
  margin-top: 70px;
}

.sixth-2024-image-sub-1-container{
  width: 100%;
}

.sixth-2024-image-sub-1-container img{
  width: 100%;
}

.sixth-2024-image-sub-2-container{
  width: 100%;
}

.sixth-2024-image-sub-2-container img{
  width: 100%;
}



/*---------------------- IMAGE 2022 PAGE ----------------------*/
.main-images-2022-container{
  margin-top: 80px;
  padding-left: 60px;
  padding-right: 60px;
}


.second-2022-image-container{
  width: 100%;
  margin-top: 50px;
}

.second-2022-image-sub-container{
  width: 100%;
  display: flex;
  justify-content: center;

}

.second-2022-image-sub-container img{
  width: 100%;

}

.third-2022-image-container{
  width: 100%;
  display: flex;
}

.third-2022-image-sub-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.third-2022-image-sub-container img {
  width: 44%;
}

.third-2022-image-caption-container{
  display: flex;
  flex-direction: column-reverse;
}

.third-2022-caption-container {
  align-self: flex-start;
  margin-bottom: 100px;
}


.fourth-2022-image-container{
  width: 100%;
  display: flex;
  margin-top: 50px;
}

.fourth-2022-image-caption-container{
  display: flex;
  flex-direction: column-reverse;
}

.fourth-2022-image-caption-sub-container{
  align-self: flex-start;
  margin-bottom: 100px;
}

.fourth-2022-image-sub-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.fourth-2022-image-sub-container img{
  width: 85%;
}

.fifth-2022-image-container{
  width: 100%;
  display: flex;
  margin-top: 50px;
}

.fifth-2022-image-caption-container{
  display: flex;
  flex-direction: column-reverse;
}

.fifth-2022-image-caption-sub-container{
  align-self: flex-start;
  margin-bottom: 30px;
}

.fifth-2022-image-sub-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.fifth-2022-image-sub-container img{
  width: 55%;
}
